<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="info"
	  internalLogFile="E:\MongoandNet core\ELDPLAT\MongoDB\internal-nlog.txt">

	<!-- enable asp.net core and mongodb layout renderers-->>
	<!-- 若有使用以Nlog為底擴展的套件或工具等，須包在<extensions></extensions>中-->>
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Mongo"/>
	</extensions>

	<!--internal-nlog:NLog 啟動、加載config資訊 -->>
	<!--nlog-all: 所有日誌紀錄訊息 -->>
	<!--nlog-own: 自定義日誌紀錄訊息 -->>

	<!-- the targets to write to -->>
	<!-- targets包含需要輸入的日誌內容、訊息的布局 -->
	<targets>
		<!-- write logs to file -->>
		<!-- 在本機位置產生log檔(所以記錄訊息) -->
		<!-- <target xsi:type="File" name="allfile" fileName="e:\MongoandNet core\Test01\MongoDB\nlog-all-${shortdate}.log"  
			layout="日誌紀錄時間: ${longdate}${newline}日誌級別: ${uppercase:${level}}${newline}日誌來源：${logger}${newline}日誌訊息：${message}${newline}錯誤訊息：${exception:format=tostring}${newline}==============================================================${newline}" />"    -->
		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->

		<!-- 在本機位置產生log檔(自定義記錄訊息) -->
		<!--<target xsi:type="File" name="ownFile-web" fileName="e:\MongoandNet core\Test01\MongoDB\nlog-own-${shortdate}.log"
				layout="日誌紀錄時間：${longdate}${newline}日誌級別：${uppercase:${level}}${newline}日誌來源：${logger}${newline}日誌訊息：${message}${newline}錯誤訊息：${exception:format=tostring}${newline}url: ${aspnet-request-url}${newline}action: ${aspnet-mvc-action}${newline}==============================================================${newline}" />    -->

		<!-- 寫入Mongo  name= "Mongolog_info" -->
		<!-- LOCAL SERVER -->
		<target xsi:type="Mongo"
			name="Mongolog_info" databaseName="NLog"
			collectionName="log_info"
			connectionString="mongodb://localhost:27017/NLog"
			cappedCollectionSize="26214400">
			<property name="LongDate" layout="${longdate}" bsonType="DateTime" />
			<property name="Level" layout="${level}" />
			<property name="Logger" layout="${logger}"/>
			<property name="Message" layout="${message}" />
			<property name="Exception" layout="${exception:format=tostring}" />
			<property name="Url" layout="${aspnet-request-url}" />
			<property name="Action" layout="${aspnet-mvc-action}" />
			<property name="UserName" layout="${windows-identity}" />
		</target>

		<!-- 寫入Mongo name = "Mongolog_error" -->
		<target xsi:type="Mongo"
			name="Mongolog_error" databaseName="NLog"
			collectionName="log_error"
			connectionString="mongodb://localhost:27017/NLog"
			cappedCollectionSize="26214400">
			<property name="LongDate" layout="${longdate}" bsonType="DateTime" />
			<property name="Level" layout="${level}" />
			<property name="Logger" layout="${logger}"/>
			<property name="Message" layout="${message}" />
			<property name="Exception" layout="${exception:format=tostring}" />
			<property name="Url" layout="${aspnet-request-url}" />
			<property name="Action" layout="${aspnet-mvc-action}" />
			<property name="UserName" layout="${windows-identity}" />
		</target>

		<!-- 寫入Mongo name = "Mongolog_ocelot" -->
		<target xsi:type="Mongo"
			name="Mongolog_ocelot" databaseName="NLog"
			collectionName="log_ocelot"
			connectionString="mongodb://localhost:27017/NLog"
			cappedCollectionSize="26214400">
			<property name="LongDate" layout="${longdate}" bsonType="DateTime" />
			<property name="Level" layout="${level}" />
			<property name="Logger" layout="${logger}"/>
			<property name="Message" layout="${message}" />
			<property name="Exception" layout="${exception:format=tostring}" />
			<property name="Url" layout="${aspnet-request-url}" />
			<property name="Action" layout="${aspnet-mvc-action}" />
			<property name="UserName" layout="${windows-identity}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<!-- rules設定要擺放的log級別 -->
	<!-- Logging Level 的優先順序-->
	<!-- ALL < TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF-->
	<rules>
		<!--All logs, including from Microsoft-->
		<!--<logger name="*" minlevel="Trace" writeTo="allfile" />    -->

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Warning" final="true" />
		<logger name="System.*" maxLevel="Warning" final="true" />
		<!--<logger name="Ocelot.*" maxLevel="Warning" final="true" />-->
		<!-- BlackHole without writeTo -->
		<!--<logger name="*" minlevel="Information" writeTo="ownFile-web" />    -->

		<!--Add logs to mongodb-->
		<!-- logs level from Trace to Info, writeTo Mongolog_info-->>
		<logger name="MicroServiceCoreLibrary.*" minlevel="Trace" maxlevel="Information" writeTo="Mongolog_info"/>
		<!-- logs level from Warning to Critical(Fatal), writeTo Mongolog_error-->>
		<logger name="MicroServiceCoreLibrary.*" minlevel="Warning" writeTo="Mongolog_error" />
		<!-- logs level from Warning to Critical(Fatal), writeTo Mongolog_error-->>
		<logger name="Ocelot.*" writeTo="Mongolog_ocelot" />
	</rules>
</nlog>